<ion-view view-title="My-Order">
          <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
	<ion-content class="pre-login order1">
		<div class="card">
    <div class="box border_box" ng-repeat="orderlist in orders_history">
          <h5> Oreder Id :
            <span>{{orderlist.order_id}}</span>
          </h5>
          <h6>Order Quantity :
            <span>{{orderlist.order_total_qty}}</span>
          </h6>
          <h6>Amount : Rs. 
            <span>{{orderlist.order_total_price}}</span></h6>
            <h6>Payment :
            <span>{{orderlist.payment_status}}</span></h6>
        </div>
</div>
<div ng-if="!orders_history" class="empty_cart">  
  <img src="img/no_order.png">
</div>
</ion-content>
</ion-view>