<ion-view view-title="Assigned Orders" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
   <ul class="list">
    <li class="item item-toggle">
     Active 
     <label class="toggle">
       <input type="checkbox" ng-model="status" ng-click="active(status)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
 </ul>
 <ion-list ng-show="status">
   <ion-item href="#/app/order_details/{{order.order_id}}" class="ordr_list_outer" ng-repeat="order in orders_list">
    <div  class="row ordr_list">
      <div class="col">
        <h2 class="">Order {{order.order_id}}</h2>
        <p class="">Total Amount : Rs. {{order.total_amount}}</p>
      </div>
      <i class="icon ion-chevron-right icon-accessory col"></i>
    </div> 

  </ion-item>
</ion-list>
</ion-content>
</ion-view>
