<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class=" ">
    <ion-content>
     <ion-list>
      <ion-item menu-close class="head_profile" ng-if="role">
        <h3>{{user.username}}</h3> 
        <h3>{{user.phonenumber}}</h3> 

        <i class="logout icon ion-log-out" ng-click="logout()"></i>
      </ion-item>
      <ion-item menu-close href="#/app/home_page"  ng-if="role != 'DeliveryBoy'">
       <i class="icon ion-home"></i>  <span>Home</span> <i class="icon ion-chevron-right"></i>   
     </ion-item>
     <ion-item menu-close  href="#/app/my_offer" ng-if="role == 'customer'">
      <i class="icon ion-star"></i> <span> My Offer </span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/cart" ng-if="role != 'agent' && role != 'DeliveryBoy'">
      <i class="icon ion-android-cart"></i> <span> My cart </span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/manage_address" ng-if="role == 'customer'">
      <i class="icon ion-document-text"></i> <span> Manage Address </span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/my_profile" ng-if="role != 'DeliveryBoy' && role">
      <i class="icon ion-ios-personadd-outline"></i> <span> My Profile </span> <i class="icon ion-chevron-right"></i> 
    </ion-item> 

    <ion-item menu-close href="#/app/my_order" ng-if="role == 'customer'" >
      <i class="icon ion-ios-list-outline"></i> <span> My Orders </span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/enquiry" ng-if="role == 'customer'" >
      <i class="icon ion-alert-circled"></i> <span> Enquiry </span> <i class="icon ion-chevron-right"></i> 
    </ion-item>

    <!-- delivery boy -->

    <ion-item menu-close href="#/app/order_history" ng-if="role == 'DeliveryBoy'" >
      <i class="icon ion-document-text"></i> <span> Order hsitory</span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/delivery_order_list" ng-if="role == 'DeliveryBoy'" >
      <i class="icon ion-document-text"></i> <span>Assigned Orders</span> <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item menu-close href="#/app/login" ng-if="!role" >
     <i class="icon ion-log-in"></i>  <span>Login</span> <i class="icon ion-chevron-right"></i> 
   </ion-item>
   <ion-item menu-close href="#/app/about">
     <i class="icon ion-information-circled"></i>  <span>About</span> <i class="icon ion-chevron-right"></i> 
   </ion-item>
 </ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>