<ion-view view-title="Products">
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<ion-nav-buttons side="right">
		<a  href="#/app/cart" ng-if="role != 'agent' || !role">
			<i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
		</a>
	</ion-nav-buttons>
	<ion-content class="pre-login">

		<div class = "row ">
			<div class = "col brand_list">

				<div class="border_box">
					<img src="http://{{brand_image}}" alt="water" class="water_img text_center">
				</div>
			</div>
		</div>
		<ion-list class="row height_71">
			<div  ng-repeat="product in products" class = "col col-50 left_" >

				<div class="border_box" >
					<img src="{{product.image}}" alt="water" class="water_img text_center">
					<h5 class="text_center" ng-click="goto_select_water(product.id)">{{product.name}}<span> {{product.measure}} </span></h5>
					<div class="row height_71">
						<div class="col-67 margin_6">
							<h5 class="green_color water_para">
								<span><i class="icon ion-pricetag icon_size"></i></span>
								<strike ng-if="product.discount_price">Rs. {{product.price}}</strike>
								<span ng-if="!product.discount_price">Rs. {{product.price}}</span></h5>
								<h5 class="water_para green_color margin_left" ng-if="product.discount_price">Rs.{{product.discount_price}}</h5>	
								<div ng-if="product.stock <= 0">
									<h5 class="red_color water_para">No stock</h5>
								</div>
							</div>
							<div class="col">
								<div ng-if="product.stock > 0">
									<div class="cart_box text_center">
										<div ng-click="add_cart(product)"><i class="icon ion-ios-cart cart_icon_color "></i>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="" ng-if="no_records">No record found</div>
			</ion-list>
		</ion-content>
	</ion-view>