  <ion-view view-title="Confirmation" class="delivery login singup">
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <ion-nav-buttons side="right">
      <a  href="#/app/cart" ng-if="role != 'agent' || !role">
       <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
     </a>
   </ion-nav-buttons>
   <ion-content class="pre-login">
    <div class="list text-center">
      <div class="conformation">
        <i class="icon ion-checkmark-circled"></i>
        <h3>   Your order 33 has been successfully placed. please wait while we are processing your oreder</h3>
      </div>
      <div class="box border_box">
        <img src="img/w2.png" alt="water" class="water_img text_center">
        <h4> Oreder Id :33</h4>
        <h4>Date : 20-3-2018</h4>
        <h4>Order Quantity :1</h4>
      </div>
    </div>
  </div>
</div>
<div class="list button_all">
  <a class="button button-block red" type="submit" href="#/app/home_page">GO To Home Page</a>
</div>
</ion-content>
</ion-view>
