<ion-view view-title="Create User" has-header="false" hide-nav-bar="true" class="login singup">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-content class="pre-login" >
    <ion-list>
      <img class="logo" src="img/logo.png">
    </ion-list>
    <form name="myForm">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="reg_data.username" name="username" placeholder="Enter Your User Name*" ng-required="true" ng-class="{ 'has-errors' : myForm.username.$invalid && !myForm.username.$pristine, 'no-errors' : myForm.username.$valid}" ng-minlength="3" >
        </label>
        <span class="error-message" ng-show="myForm.username.$touched && myForm.username.$error.required">The User name is mandatory</span>
        <span class="error-message" ng-show="myForm.username.$dirty && myForm.username.$error.minlength">The User Name should be minimum 3 characters</span>
        <label class="item item-input">
          <input type="text" ng-model="reg_data.first_name" name="firstname" placeholder="Enter Your First Name*" ng-required="true" ng-class="{ 'has-errors' : myForm.firstname.$invalid && !myForm.firstname.$pristine, 'no-errors' : myForm.firstname.$valid}" ng-minlength="3" >
        </label>
        <span class="error-message" ng-show="myForm.firstname.$touched && myForm.firstname.$error.required">The First name is mandatory</span>
        <span class="error-message" ng-show="myForm.firstname.$dirty && myForm.firstname.$error.minlength">The first name should be minimum 3 characters</span>
        <label class="item item-input">
          <input type="text" ng-model="reg_data.last_name" name="lastname" placeholder="Enter Your Last Name*" ng-required="true" ng-class="{ 'has-errors' : myForm.last_name.$invalid && !myForm.last_name.$pristine, 'no-errors' : myForm.last_name.$valid}" ng-minlength="2" >
        </label>
        <span class="error-message" ng-show="myForm.last_name.$touched && myForm.last_name.$error.required">The Last name is mandatory</span>
        <span class="error-message" ng-show="myForm.last_name.$dirty && myForm.last_name.$error.minlength">The Last name should be minimum 2 characters</span>
        <label class="item item-input">
          <input type="tel" ng-model="reg_data.phonenumber" ng-class="{ 'has-errors' : myForm.mobile.$invalid && !myForm.mobile.$pristine, 'no-errors' : myForm.mobile.$valid}" name="mobile" placeholder="Enter Phone Number*" ng-minlength="10" ng-maxlength="10" ng-required="true" ng-pattern="/^\+?\d{10}$/">
        </label>
        <span class="error-message"  ng-show="myForm.mobile.$touched && myForm.mobile.$error.required">Please Enter Mobile Number</span>
        <span class="error-message"  ng-show="myForm.mobile.$invalid && myForm.mobile.$error.pattern">Enter Valid Mobile No</span>
        <label class="item item-input">
          <input type="email" ng-model="reg_data.email" name="email" ng-class="{ 'has-errors' : myForm.email.$invalid && !myForm.email.$pristine, 'no-errors' : myForm.email.$valid}" placeholder="Enter Your Email*" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-required="true"  autocomplete="on">
        </label>
        <span class="error-message" ng-show="myForm.email.$touched && myForm.email.$error.required">The Email is Required.</span>
        <span class="error-message" ng-show="!myForm.email.$error.required && !myForm.email.$error.minlength && !myForm.email.$error.maxlength&& myForm.email.$error.pattern && myForm.email.$dirty">Enter Valid Email</span>
        <label class="item item-input">
          <input type="text" ng-model="reg_data.nic_no" name="nic" ng-class="{ 'has-errors' : myForm.nic.$invalid && !myForm.nic.$pristine, 'no-errors' : myForm.nic.$valid}" placeholder="Enter Your NIC or Passport number*" ng-required="true">
        </label>
        <span class="error-message" ng-show="myForm.nic.$touched && myForm.nic.$error.required">NIC  or Passport Number is Required.</span>
        <label class="item item-input">
          <input type="password" ng-model="reg_data.password" ng-class="{ 'has-errors' : myForm.password.$invalid && !myForm.password.$pristine, 'no-errors' : myForm.password.$valid}"  name="password" placeholder="Enter Your Password*" ng-minlength="6" ng-maxlength="15" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="" >
        </label>
        <span class="error-message" ng-show="myForm.password.$error.required && myForm.password.$touched">Password Field Required</span>
        <span class="error-message" ng-show="!myForm.password.$error.required && myForm.password.$error.minlength && myForm.password.$dirty">Passwords Must be between 8 and 20 Characters.</span>
        <span class="error-message" ng-show="myForm.password.$error.maxlength">Password Maximum 20 Characters Only</span>
        <span class="error-message" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength&& myForm.password.$error.pattern && myForm.password.$dirty">Must Contain One Lower &amp; Uppercase Letter</span>
           <!-- <span class="error-message"  ng-show="myForm.password.$error.required && myForm.password.$touched">Enter password</span>
             <span style="color:#e40404;" class="error-message" ng-show="myForm.password.$error.maxlength || myForm.password.$error.minlength">Password between  6 to 15 characters only</span> -->
             <label class="item item-input">
              <input type="password" ng-model="reg_data.confirm_password" name="password_c" placeholder="Re- Enter Password*"  ng-minlength="6" ng-maxlength="15" ng-required="true">
            </label>
            <span class="error-message" ng-show="myForm.password_c.$error.required && myForm.password_c.$touched">Confirm Password Required</span>
            <span class="error-message" style="color:#e40404;" ng-required="true" ng-show="!myForm.password_c.$error.required && (reg_data.password != reg_data.confirm_password ) && myForm.password_c.$dirty">Password Mismatched</span>
            <label class="item item-input item-stacked-label">
              <input type="text" ng-model="reg_data.door_no" placeholder="Door/Float No*" ng-required="true" name="door_no">
            </label>
            <span class="error-message" ng-show="myForm.door_no.$touched && myForm.door_no.$error.required">Door Number is Required</span>
            <label class="item item-input item-stacked-label">
              <input type="text" ng-model="reg_data.address_1" placeholder="Address Line 1*" ng-required="true" name="address_1">
            </label>
            <span class="error-message" ng-show="myForm.address_1.$touched && myForm.address_1.$error.required">Address Field is Required</span>
            <label class="item item-input item-stacked-label">
              <input type="text" ng-model="reg_data.address_2" placeholder="Address line 2">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
               City
             </div>
             <select ng-model="reg_data.city" ng-options="x for x in cities | orderBy" ng-required="true" name="city">
              <option>select</option>
            </select>
          </label>
          <span class="error-message" ng-show="myForm.city.$touched && myForm.city.$error.required">City is required</span>
          <label class="item item-input item-stacked-label">
            <input type="text" ng-model="reg_data.state" placeholder="State*" ng-required="true" name="state">
          </label>
          <span class="error-message" ng-show="myForm.state.$touched && myForm.state.$error.required">State is required</span>
          <label class="item item-input item-stacked-label">
            <input type="tel" ng-model="reg_data.pincode" placeholder="Pincode">
          </label>
          <label class="item">
            <span class="input-label">Type:</span>
            <ion-radio type="radio" ng-model="type" placeholder="type" ng-value="'Residential'"><span>Residential </span></ion-radio>
            <ion-radio type="radio" ng-model="type" placeholder="type" ng-value="'Industrial'"><span>Industrial </span></ion-radio>
            <ion-radio type="radio" ng-model="type" placeholder="type" ng-value="'Trader'"><span>Trader </span></ion-radio>
          </label>
          <label class="item item-input">
            <span class="input-label">Photo:</span>
            <button class="button button-stable" ng-click="loadImage()">
              File upload
            </button>
          </label>
          <div class="item">
           <img ng-src="{{pathForImage(model_image)}}" class="full-image" ng-show="model_image" ng-if="model_image">
         </div>
         <ion-list>
          <ion-checkbox ng-model="filter.red" ng-required="true" class="display_b" > I Agree with</ion-checkbox>
          <a class="item display_b cr" href="#/app/termsandcondition" >Terms and Conditions</a>
        </ion-list>
        <div class="list button_all">
          <input type="submit" name="" class="button button-block red" value="Create an Account" ng-disabled="myForm.$invalid" ng-click="UserReg(reg_data,type)">
          <a class="button button-block white" type="submit" href="#/app/login">Sign In</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
