<ion-view view-title="Enquiry">
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<ion-content class="imag enquiry_user">
		<div class="row head_c">
			<div class="col  ">
				<h2> Enquiry </h2>
			</div>
		</div>
		
		<ion-list >
			<div class="about">
				<p><b>WATER4U </b> makes the availability of water in all parts of Lanka whether it be spring water, glacial water, filtered water or mineral water. 
				</p>

			</div>
		</ion-list>
		<div  class="item"> 
			
			<label class="item item-input item-stacked-label"><span> Enquiry : </span>
				<textarea ng-model = "data.enquiry"></textarea>
			</label>
			<div class="text_center button_all">
				<button class="button button-block  red" ng-click="post_enquiry(data)">POST</button>
			</div>
		</div>

		<div ng-if="enquires">
			<div>
				<h1> Enquiry Chat </h1>
			</div>
			<div  class="item chat card" ng-repeat="enquiry in enquires">
				<div> 
					<h3>Enquiry</h3>
					<p>{{enquiry.enquiry}}</p>
				</div>
				<div ng-if="enquiry.reply" class="user">
					<h3>Response</h3>
					<p>{{enquiry.reply}}</p>
				</div>
				<div ng-if="!enquiry.reply" class="user">
					<p style="color: red">Get response soon</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>