<ion-view hide-nav-bar="true" class="loginBg ">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-content class="pre-login">
    <form  ng-show="step1" name="myForm1" class="margin_top ">
     <div class="item verification " >
      <div class="text ">
        <h5>Enter Email </h5>
      </div>
      <label class="item item-input">
       <input class="input_field txt_box text_center"  type="email" placeholder="Enter your email" name="email" ng-model="data.email" ng-required="true" ng-class="{ 'has-errors' : myForm1.email.$invalid && !myForm1.email.$pristine, 'no-errors' : myForm1.email.$valid}">
     </label>
     <span class="error-message" ng-show="myForm1.email.$dirty && myForm1.email.$invalid">Invalid email format</span>
   </div>
   <div class="padding">
     <button class="button button-block button-positive" ng-click="getotp(data)" ng-disabled="myForm1.$invalid">Submit</button>
   </div>
   <p class="padding">Go to <a href="#/app/login" class="register positive">Login</a></p>
 </form>
 <form  ng-show="step2" name="myForm">
   <div class="list verification"> 
     <div class="text ">
      <h3>Enter OTP</h3>
    </div>
    <input class="input_field txt_box text text_center"  type="text" placeholder="Enter your OTP" name="otp" ng-model="data.otp" required="">
  </div>
  <div class="padding">
   <button class="button button-block button-positive" ng-click="otp_verification(data)">Verify</button>
 </div>
</form>
<form ng-show="step3" name="myForm">
 <div class="list verification">
  <div class="text ">
    <h4>Enter New password</h4>
  </div>
  <input class="input_field txt_box margin_left margin_top"  type="password" placeholder="Password" name="password" ng-model="data.new_password" ng-model="newpassword" ng-required="true" ng-class="{ 'has-errors' : myForm.password.$invalid && !myForm.password.$pristine, 'no-errors' : myForm.password.$valid}" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">

  <span class="error-message" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
  <span class="error-message" ng-show="!myForm.password.$error.required && myForm.password.$error.minlength && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
  <span class="error-message" ng-show="myForm.password.$error.maxlength">Password maximum 20 characters only</span>
  <span class="error-message" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength&& myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter</span>

  <input class="input_field txt_box margin_left margin_top"  type="password" placeholder="Re-Enter Password"  name="password_c" ng-model="data.re_password" ng-minlength="6" ng-maxlength="15" ng-required="true">
  <span class="error-message" style="color:#e40404;" ng-required="true" ng-show="!myForm.password_c.$error.required && (reg_data.password != reg_data.confirm_password ) && myForm.password_c.$dirty">Password mismatched</span>
</div>
<div class="padding">
 <button class="button button-block button-positive" ng-click="change_password(data)">Submit</button>
</div>
</form>
</ion-content>
</ion-view>