<ion-view view-title="My-Order">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-nav-buttons side="right">
    <a  href="#/app/cart" ng-if="role != 'agent' || !role">
     <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
   </a>
 </ion-nav-buttons>
 <ion-content class="pre-login order1">
  <div class="accordian_outer">
    <ion-list>
      <div ng-repeat="orderlist in userorderlists" class="border_box">
        <ion-item class="item-stable accordian_item accordian_backclr"
        ng-click="toggleGroup(orderlist)"
        ng-class="{active: isGroupShown(orderlist)}">
        <div class="list">
          <div class="row list_para">
            <div class="col">
              <p> Order Id :
                <span class=" ">{{orderlist.id}}</span>
              </p>
              <p>Date :
               <span class=" ">{{orderlist.created_at}}</span>
             </p>
           </div>
           <div class="col">
            <p>No.of Products :
              <span class=" ">{{orderlist.total_qty}}</span>
            </p>
            <p>Amount:
              <span class=" ">{{orderlist.total_amount}}</span></p>
            </div>
          </div>
          <div class="row">
            <p>Payment Type :
             <span class=" ">{{orderlist.payment}}</span>
           </p>
         </div>
         <div class="row list_head">
          <div class="col">
           <p> More Details <i class="icon" ng-class="isGroupShown(orderlist) ? 'ion-minus' : 'ion-plus'"></i></p>
         </div>
         <div class="col">
          <div class=" text-right">
            <h4 class="pull-right">{{orderlist.order_status}}</h4>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <div ng-show="isGroupShown(orderlist)" class="box_ca">
    <div class="item item-thumbnail-left item_backclr" href="#" ng-repeat = "products in orderlist.products">
      <img src="{{products.image}}" alt="water" class="water_img text_center">
      <div class="water_subcnt">
       <p class="water_top">{{products.name}}</p>
       <p>Quantity : <span>{{products.quantity}}</span></p>
       <p>Price : <span>{{products.price}}</span></p>
     </div>
   </div>
 </div>
 </div>
</ion-list>


</div>
<div ng-if="!userorderlists" class="empty_cart">
  <img src="img/no_order.png">
</div>
</ion-content>
</ion-view>
