<ion-view view-title="My-offer">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-nav-buttons side="right">
    <a  href="#/app/cart" ng-if="role != 'agent' || !role">
     <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
   </a>
 </ion-nav-buttons>
 <ion-content class="pre-login">
   <div class="list card" ng-if="user_offer > 0">
    <div class="item" href="#">
     <p class="">Water4u Gives Upto <span class="offer_per">{{user_offer}} % </span>common offer Only For you</p>
   </div>
 </div>
 <div class="row offer" ng-if="offers.product_offers">
   
   <div class="list">
    <div class="item" href="#" ng-repeat = "offer in offers.product_offers">
      <h2>{{offer.name}} ({{offer.measure}})</h2>
      <p class="">Gives Upto <span class="offer_per">{{offer.offers}} % </span> offers  Only For you <span class="" ng-if="offer.valid_from">Valid Form <span class="offer_per">{{offer.valid_from}}</span></span> <span class="" ng-if="offer.valid_to">To <span class="offer_per">{{offer.valid_to}}</span></span></p>
    </div>
  </div>
</div>
</ion-content>
<ion-content scroll="false" ng-if="!offers && !user_offer">
  <div  class="no_offer">
    <h3><span>Sorry</span> No Offers Found</h3>
  </div>
</ion-content>
</ion-view>