<ion-view view-title="My porfile">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-nav-buttons side="right">
    <a  href="#/app/cart" ng-if="role != 'agent' || !role">
     <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
   </a>
 </ion-nav-buttons>
 <ion-content class="imag profile">
  <form name="myForm">
    <div class="list">

      <div class="item item-avatar pro_img" ng-if="appUser.image">
       <img ng-src="http://{{appUser.image}}">
     </div>
     <div class="item item-avatar pro_img" ng-if="!appUser.image">
       <img ng-src="img/avatar.png">
     </div>
     <label class="item item-input">
      <input type="text" ng-model="appUser.username" name="username" placeholder="Enter Your User Name*" ng-required="true" ng-class="{ 'has-errors' : myForm.username.$invalid && !myForm.username.$pristine, 'no-errors' : myForm.username.$valid}" ng-minlength="2" ng-readonly="edit_pro">
    </label>
    <span class="error-message" ng-show="myForm.username.$touched && myForm.username.$error.required">The User name is mandatory</span>
    
    <span class="error-message" ng-show="myForm.username.$dirty && myForm.username.$error.minlength">The User Name should be minimum 2 characters</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.first_name" name="firstname" placeholder="First Name*" class="input_color" ng-minlength="2" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.firstname.$touched && myForm.firstname.$error.required">The First name is mandatory</span>
    
    <span class="error-message" ng-show="myForm.firstname.$dirty && myForm.firstname.$error.minlength">The first name should be minimum 2 characters</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.last_name" name="lastname" placeholder="Last Name*" class="input_color" ng-minlength="2" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.lastname.$touched && myForm.lastname.$error.required">The Last name is mandatory</span>
    
    <span class="error-message" ng-show="myForm.lastname.$dirty && myForm.lastname.$error.minlength">The Last name should be minimum 2 characters</span>
    <label class="item item-input">
      <input type="text" ng-model="appUser.nic_no" name="nic" placeholder="Enter Your NIC number or Passport Number*" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.nic.$touched && myForm.nic.$error.required">NIC number is required.</span>
    
    <label class="item item-input item-stacked-label">
      <input type="tel" ng-model="appUser.phonenumber" placeholder="Phone number*" name="mobile" ng-readonly="edit_pro" ng-minlength="10" ng-maxlength="10" ng-required="true" ng-pattern="/^\+?\d{10}$/">
    </label>
    <span class="error-message"  ng-show="myForm.mobile.$touched && myForm.mobile.$error.required">Please enter a mobile number</span>
    <span class="error-message"  ng-show="myForm.mobile.$invalid && myForm.mobile.$error.pattern">Enter valid Mobile No</span>
    <label class="item item-input item-stacked-label">
      <input type="email" ng-model="appUser.email" placeholder="Email*" name="email" ng-readonly="edit_pro" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
    </label>
    <span class="error-message" ng-show="myForm.email.$touched && myForm.email.$error.required">The email is required.</span>
    <span class="error-message" ng-show="!myForm.email.$error.required && !myForm.email.$error.minlength && !myForm.email.$error.maxlength&& myForm.email.$error.pattern && myForm.email.$dirty">enter valid email</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.door_no" placeholder="Door/Float No*" name="door_no" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.door_no.$touched && myForm.door_no.$error.required">Door number is required</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.address_1" placeholder="Address line 1*" name="address_1" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.address_1.$touched && myForm.address_1.$error.required">Address field is required</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.address_2" placeholder="Address line 2" ng-readonly="edit_pro">
    </label>
     <label class="item item-input item-select">
        <div class="input-label">
         City
       </div>
       <select ng-model="appUser.city" ng-options="x for x in cities | orderBy" ng-required="true" name="city">
        <option>select</option>
      </select>
    </label>
    <span class="error-message" ng-show="myForm.city.$touched && myForm.city.$error.required">City is required</span>
    <label class="item item-input item-stacked-label">
      <input type="text" ng-model="appUser.state" placeholder="state*" name="state" ng-readonly="edit_pro" ng-required="true">
    </label>
    <span class="error-message" ng-show="myForm.state.$touched && myForm.state.$error.required">State is required</span>
    <label class="item item-input item-stacked-label">
      <input type="tel" ng-model="appUser.pincode" placeholder="pincode" ng-readonly="edit_pro">
    </label>
    <label class="item">
      <span class="input-label">Type:</span>
      <ion-radio type="radio" ng-model="appUser.type" placeholder="type" ng-value="'Residential'"><span>Residential </span></ion-radio>
      <ion-radio type="radio" ng-model="appUser.type" placeholder="type" ng-value="'Industrial'"><span>Industrial </span></ion-radio>
      <ion-radio type="radio" ng-model="appUser.type" placeholder="type" ng-value="'Trader'"><span>Trader </span></ion-radio>
    </label>  
    <label class="item item-input" ng-hide="edit_pro">
      <span class="input-label">Image:</span>
      <button class="button button-stable" ng-click="loadImage()">
        File upload
      </button>
    </label>
    <div class="item"  ng-if="model_image">
     <img ng-src="{{pathForImage(model_image)}}" class="full-image" ng-show="model_image">
   </div>
 </div>
</form>
<div class="row">
  
  <div class="col text_center">

   <button class="button button-positive" ng-click="edit_prof()" ng-show="edit_pro">Edit</button>

   <button class="button button-positive" ng-click="update(appUser)" ng-hide="edit_pro">
    update
  </button>
</div>
</div>
</ion-content>
</ion-view>
