<ion-view view-title="Terms & conditions">
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="imag ">
		<div class="row head_c">
			<div class="col">
				<h2> Terms & Condition </h2>
			</div>
		</div>
		<ion-list >
			<div class="about">
				<img class="logo" src="img/logo.png">
				<p>
					The following is the terms of agreement between WATER4U and the buyer of goods or services through the company’s site and mobile app.
				</p>
				<p>
				a)	Buyer agrees to the terms and conditions in this contract with respect to the goods and services provided by or through the site.</p>
				<p>
					b)	WATER4U is solely a distribution network and marketing portal for drinking water.
				</p>
				<p>
					c)	Company reserves the right in its sole discretion to edit or delete any information or content appearing on this site and to remove any goods and services for sale.
				</p>
				<p>
					d)	Company may modify the contract or products and may discontinue to revise any or all aspects of the site in its sole discretion and without prior notice.
				</p>
				<p>
					e)	Company reserves the right in its sole discretion to refuse service at any time. Sale of any goods or services is subject to availability.
				</p>
				<p>
					f)	The content, organization, gathering, compilation, magnetic translation, digital conversion and other matters related to the site are protected under applicable copyrights trademarks and other proprietary (including but not limited to intellectual property) rights, and the copying, redistribution, use or publication by a buyer of any such content or any part of the site is prohibited.
				</p>
				<p>
					g)	Buyer represents and warrants that (1) the credit card information supplied is true, correct and complete (2) Charges incurred by the buyer will be honored by the buyer’s credit card company (3) Buyer shall pay charges incurred by buyer at the amounts in effect at the time incurred, including all applicable taxes. Buyer shall be responsible for all charges incurred through use of buyer’s password. Buyer agrees to keep his or her password confidential and to notify company within 24hours of any breach of this contract or unauthorized use of the password. Company does not protect buyer from unauthorized use of buyer’s password.
				</p>
				<p>h)	The content, standard and the quality of water/products will not be the responsibility of WATER4U. The company is only a distribution service provider.
				</p>
				<p>
					i)	WATER4U ensures to deliver all orders within a time frame of 24 hours, based on availability. The company will not be responsible for any delays caused due to unavailability, bad weather, acts of God, war, strikes or labor disputes, embargos, government orders or any other force majeure event.
				</p>
				<p>
					j)	The buyer agrees to return good quality water bottles at the time of purchase. The company has the right to refuse acceptance of bottles in bad quality or standard.
				</p>
			</div>
			<div class="copy_right">
				<small>Copyrights © All Rights Reserved by Acestra Networks Pvt Ltd</small>
			</div>
		</ion-list>
	</ion-content>
</ion-view>