
  <ion-view view-title="verification"  class="login">
            <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
    <ion-nav-buttons side="right">
        <a  href="#/app/cart">
         <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
       </a>
     </ion-nav-buttons>
    <ion-content class="pre-login" >
      <div class="verification">
    <div class="text ">
      <h3>Enter OTP</h3>
      <!-- <h5>The interotucion of the corporation and the  customer pushes the instituational corporate identity </h5> -->
    </div>
    <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input">
            <input type="number" ng-model="loginData.username" placeholder="Input verification Number">
          </label>
        </div>
      </form>
      <div class=" button_all">
          <div class="row">
            <div class="col col-100">
              <a class="button button-block red"  href="#/app/home_page">Verify</a>
                 <!-- <a class="button button-block  red"  href="#/app/home_page">Login</a> -->
            </div>
      <!--         <div class="col col-50">
              <a class="button button-block white "  href="#/app/createacc/">Skip</a>
            </div> -->

          </div>
      </div>
      </div>
    </ion-content>
  </ion-view>
